/* start name && timer countainer  */

body {
    background-color: #5f5656;
    font-family: cursive;
}



#startGame {
    background-color: #dc7d7d;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 230px;


}

#startGame h1 {
    font-family: cursive;
    font-size: 35px;

}

#startGame button {
    height: 50px;
    width: 135px;
    border-radius: 15px;
    background-color: black;
    color: #fde7e9;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}


/* start container */

.container {
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
    display: none;


}

.container .nameScore {
    background-color: #e2b4b4;
    width: 100%;
    position: sticky;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: 50px;

}

.container .nameScore .right .timer {

    display: inline;
    position: absolute;
    right: 120px;
    top: 13px;
    font-size: 19px;


}



.container .nameScore .name {
    font-size: 19px;
    position: absolute;
    top: 14px;
    left: 45px;

}

/* start memory game section */
.memoryGame {
    margin-top: 55px;
    margin-left: 40px;
}

.memoryGame .gameBlock {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 30px;
    margin: 3px 22px;
    perspective: 800px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    background-color: #dd9899;
    border: 8px solid #838485;
    display: inline-block;

}



.memoryGame .gameBlock div {
    position: absolute;
}

/* .memoryGame .gameBlock:hover {
    transform: rotatey(180deg);
} */

.memoryGame .gameBlock .front {

    backface-visibility: hidden;


}

.memoryGame .gameBlock .back {
    transform: rotatey(180deg);
    z-index: 1;
    backface-visibility: hidden;

}

.memoryGame .gameBlock .back img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
}




/* start winner section  */


.winner {
    background-color: #DF8D8E;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 230px;
    display: none;

}

.winner h1 {
    font-family: cursive;
    font-size: 35px;

}

.winner button {
    height: 50px;
    width: 135px;
    border-radius: 15px;
    background-color: black;
    color: #fde7e9;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}



/* start winner section  */


.endGame {
    background-color: #d80e20;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 180px;
    display: none;

}

.endGame h1 {
    font-family: cursive;
    font-size: 35px;
    color: black;
}

.endGame button {
    height: 50px;
    width: 135px;
    border-radius: 15px;
    background-color: black;
    color: #fde7e9;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;


}



/* exit section*/
.exit {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 230px;

    display: none;

}

.exit h1 {
    font-family: cursive;
    font-size: 40px;
    color: rgb(210 18 18);

}

.exit h1 i {
    color: rgb(210 18 18);
}

.exit button {
    height: 55px;
    width: 140px;
    border-radius: 15px;
    background-color: rgb(210 18 18);
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}